gpu_variant:
  - cpu
  #- metal                    # [(osx and arm64)]
  #- cuda-12                  # [(linux and x86_64)]
# If we don't pin the compiler on windows, we get compiler syntax errors. This could be because conda-build pulls in a
# different runtime version from the compiler version, for some reason. Upstream uses 2019 on their CI, and it's our
# most recent, so let's use that.
c_compiler:                  # [win]
  - vs2019                   # [win]
cxx_compiler:                # [win]
  - vs2019                   # [win]
# This version of macOS SDK is required for certain macros used in the source code
MACOSX_SDK_VERSION:          # [(osx and x86_64)]
  - 10.15                    # [(osx and x86_64)]
MACOSX_DEPLOYMENT_TARGET:    # [(osx and x86_64)]
  - 10.15                    # [(osx and x86_64)]
CONDA_BUILD_SYSROOT:         # [(osx and x86_64)]
  - /opt/MacOSX10.15.sdk     # [(osx and x86_64)]
# CONDA_BUILD_SYSROOT is defined in the base cbc.yaml, but it's reflected here so we can zip the keys and
# build GPU and CPU at the same time for osx-arm64. It'll need to be manually updated here if the base cbc is changed.
# This could be done using extend_keys instead, with a change to the base cbc.yaml.
# However there's currently a conda-forge bug that prevents this: https://github.com/conda/conda-build/issues/5048
MACOSX_SDK_VERSION:          # [(osx and arm64)]
  - 11.1                     # [(osx and arm64)]
  #- 13.3                     # [(osx and arm64)]
CONDA_BUILD_SYSROOT:         # [(osx and arm64)]
  - /Library/Developer/CommandLineTools/SDKs/MacOSX11.1.sdk  # [(osx and arm64)]
  #- /Library/Developer/CommandLineTools/SDKs/MacOSX13.3.sdk  # [(osx and arm64)]
zip_keys:                    # [(osx and arm64)]
  - gpu_variant              # [(osx and arm64)]
  - MACOSX_SDK_VERSION       # [(osx and arm64)]
  - CONDA_BUILD_SYSROOT      # [(osx and arm64)]
# gcc/CUDA compatibility guide, for pinning if necessary:
# https://docs.nvidia.com/cuda/archive/11.8.0/cuda-installation-guide-linux/index.html
# We don't build a CUDA variant yet for Windows, due to issues getting CMake to build magma with CUDA support.

# Conda-forge didn't do a "megabuild" on osx because it pushed their CI runners over their 6-hour limit. We don't have
# such a limit.
megabuild:
- true
#- false     # [osx]

# The version of python to use when building libtorch in a "megabuild"
megabuild_python:
  - 3.12